@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    size: 50px;
}
.weather{
  width: 100%;
  min-height: 100vh;
}
html[data-theme="day"].weather,
.weather{
    background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cd;
}
html[data-theme="night"] .weather {
  color: white;
    background: linear-gradient(360deg, #ccd2e2 0%, rgba(24, 111, 224, 0) 100%),#034079;
}
.weather__inner{
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.forecast{
  display: flex;
  justify-content: space-between;
}
.current{
    text-align: center;
    margin-bottom: 20px;
}
.current__city{
  font-size: 3em;
}
.current__description{
  font-size: 1.5em;
}
.current__temperature{
  font-size: 4em;
}
.forecast__item{
  text-align: center;
}
.forecast__icon{
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  margin: 10px;
}

.icon__01d,
.icon__01n {
  background-image: url("./images/01d.svg");
}
.icon__02d,
.icon__02n {
  background-image: url("./images/02d.svg");
}
.icon__03d,
.icon__03n {
  background-image: url("./images/03d.svg");
}
.icon__04d,
.icon__04n {
  background-image: url("./images/04d.svg");
}
.icon__09d,
.icon__09n {
  background-image: url("./images/09d.svg");
}
.icon__10d,
.icon__10n {
  background-image: url("./images/10d.svg");
}
.icon__11n,
.icon__11n {
  background-image: url("./images/11d.svg");
}
.icon__13d,
.icon__13n {
  background-image: url("./images/13d.svg");
}
.icon__50d,
.icon__50n {
  background-image: url("./images/50d.svg");
}





.details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.details_item {
  flex: 1;
  margin-bottom: 10px;
}

.details_item_name {
  margin-bottom: 10px;
}
