@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img{
    size: 50px;
}

html[data-theme="day"].weather,
.weather{
    background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cd;
}

html[data-theme="night"] .weather {
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%),#042232;
}

.weather__inner{
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.forecast{
  display: flex;
  justify-content: space-between;
}


.current{
    text-align: center;
    margin-bottom: 20px;
}

.current__city{
  font-size: 3em;
}

.current__description{
  font-size: 1.5em;
}

.current__temperature{
  font-size: 4em;
}
.forecast__item{
  text-align: center;
}

.forecast__icon{
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  margin: 10px;
}


/* .thunderstorm,
.sun,
.snow,
.shower,
.rain,
.partlyCloudy,
.mist,
.drops,
.clouds,
.cloud{
  background-size: 50px;
  background-repeat: no-repeat;
}  */

.cloud {
  background-image: url("./images/cloud.svg");
}

.clouds {
  background-image: url("./images/clouds.svg");
}

.drops {
  background-image: url("./images/drops.svg");
}

.mist {
  background-image: url("./images/mist.svg");
}

.partlyCloudy{
  background-image: url("./images/partlyCloudy.svg");
}

.rain {
  background-image: url("./images/rain.svg");
}

.shower {
  background-image: url("./images/shower.svg");
}

.snow {
  background-image: url("./images/snow.svg");
}

.sun{
  background-image: url("./images/sun.svg");
}

.thunderstorm{
  background-image: url("./images/thunderstorm.svg");
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.details_item {
  flex: 1;
  margin-bottom: 10px;
}

.details_item_name {
  margin-bottom: 10px;
}